*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}
.main_div{
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: hsl(216, 100%, 94%);
}
.center_div{
	width: 300px;
	height: 180px;
	border-radius: 16px;
	background: linear-gradient(to right top, #52b6fe, #6154fe);
	padding: 30px;
	position: relative;
	box-shadow: 
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.center_div::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(20% 0%, 100% 0%, 100% 20%, 100% 100%, 84% 70%, 46% 59%, 35% 21%, 0 0);
	border-radius: 16px;
	background: rgb(1, 4, 64);
	background: linear-gradient(90deg, rgba(1, 4, 64, 1) 4%, rgba(20, 1, 130, 1) 24%, rgba(39, 5, 185, 0.9535962877030162) 51%, rgba(0, 104, 255, 1) 75%, rgba(5, 145, 184, 1) 93%);
	z-index: 1; 
	opacity: 0.4;
}


.center_div .top_div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	z-index: 2; 
}
.center_div .top_div h2{
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 300;
	z-index: 2; 
}
.center_div .top_div h1{
	font-size: 30px;
	text-align: right;
	text-transform: uppercase;
	z-index: 2; 
}
.center_div .bottom_div{
	position: absolute;
	bottom: 20px;
	z-index: 2; 
}
.center_div .bottom_div h2{
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	color: #dfe6e9;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.center_div .bottom_div p{
	color: #fff;
}


































